.navbar{
    background-color: #000000;
}

.marketing .col-md-4 {
  margin-top: 1.5rem;
  text-align: center;
}

.navbar-brand img{
  height: 75px;
}

.navbar-brand{
  padding-left: 1em;
}

.navbar-nav{
  align-items: center;
}

.navbar-nav li{
  padding-left:3px;
  padding-right:3px;
}

/*
COLORES: 
- #000000
- #d26941
- #edd97e
- #cb693e
*/
