.dropdown-menu{
    background-color: black;
}

.navbar-nav{
    align-items: center;
}

.navbar-brand{
    padding-left: .9em;
}

.nav-link{
    font-family: Helvetica;
    margin-right: 3px;
    margin-left: 3px;
}

.dropdown-menu{
    font-family: Helvetica;
}

.carousel-caption{
    font-family: Helvetica;
}

.contenido{
    margin-top: 8rem;
    text-align: center;
    font-family: Helvetica;
    color: #FFFFFF;
    margin-bottom: 5rem;
}

.cartas{
    text-decoration: none;
    color: #FFFFFF;
}

.cartas:hover{
    color: #FFFFFF;
}

.material-symbols-outlined {
    color: #8c8c8c;
    font-weight: 300;
}

.material-symbols-outlined:hover{
    color: #FFFFFF;
}

.form-label{
    font-family: Helvetica;
    color: #FFFFFF;
}

.btn{
    border-color: #B8C7AB;
    background-color: #B8C7AB;
    font-family: Helvetica;
    color: #000000;
}

.btn:hover{
    background-color: #B8C7AB;
    border-color: #B8C7AB;
    color: #000000
}

.contacto{
    text-align: justify;
    color: #FFFFFF;
    font-family: Helvetica;
}