.dropdown-menu{
    background-color: black;
}

.navbar-nav{
    align-items: center;
}

.navbar-brand{
    padding-left: .9em;
}

.nav-link{
    font-family: Helvetica;
    margin-right: 3px;
    margin-left: 3px;
}

.dropdown-menu{
    font-family: Helvetica;
}

.carousel-caption{
    font-family: Helvetica;
}

.col-md{
    margin-top: 3rem;
    text-align: center;
    font-family: Helvetica;
    color: #FFFFFF;
    margin-bottom: 3rem;
}

.col-md img{
    border-radius: 50%;
}

.col-md h2{
    margin-top: 1.5rem;
}

.material-symbols-outlined {
    color: #8c8c8c;
    font-weight: 300;
}

.material-symbols-outlined:hover{
    color: #FFFFFF;
}

.form-label{
    font-family: Helvetica;
    color: #FFFFFF;
}

.btn{
    border-color: #B8C7AB;
    background-color: #B8C7AB;
    font-family: Helvetica;
}

.btn:hover{
    background-color: #B8C7AB;
    border-color: #B8C7AB;
}

.contacto{
    text-align: justify;
    color: #FFFFFF;
    font-family: Helvetica;
}