.dropdown-menu{
    background-color: black;
}

.navbar-nav{
    align-items: center;
}

.navbar-brand{
    padding-left: .9em;
}

.nav-link{
    font-family: Helvetica;
    margin-right: 3px;
    margin-left: 3px;
}

.carousel-caption{
    font-family: Helvetica;
}

.col{
    margin-top: 1.5rem;
    text-align: center;
    font-family: Helvetica;
    color: #FFFFFF;
}

.col img{
    border-radius: 50%;
}

.col h2{
    margin-top: 1.5rem;
}

@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

.material-symbols-outlined {
  color: #FFFFFF;
}
